.main {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    padding: 2rem 4rem;
    min-height: 100vh;
    line-height: 2rem;  
}

.topics{
    
}

@media (max-width: 768px) {
    .main {
        padding: 1rem 2rem;
    }
}